<html>
	<head>
		<title>Default title</title>
	</head>
	<body style="margin:0">
		<div style="position:absolute; top:0; height: 50px; width: 100%; background: #e9e9e9;">This is header</div>
		<div style="margin-top:50px">{{{body}}}</div>
		<div style="position:absolute; bottom:0; height: 50px; width: 100%; background: #e6e6e6;">This is footer</div>
	</body>	
</html>